.section {
  margin: 2rem 0;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url('/img/background.png');
  background-size: cover;
}

@import "nav";
@import "spinner";
@import 'news-item';
@import 'news-single';
